{{ 'custom-social-bar-fabpub.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "Custom Social Bar",
  "settings": [
    {
      "type": "text",
      "id": "side_text",
      "label": "Texto vertical",
      "default": "Fab.Pub Empowering Circular Fabrication"
    },
    {
      "type": "url",
      "id": "instagram_url",
      "label": "Instagram URL"
    },
    {
      "type": "url",
      "id": "facebook_url",
      "label": "Facebook URL"
    },
    {
      "type": "url",
      "id": "linkedin_url",
      "label": "LinkedIn URL"
    },
    {
      "type": "url",
      "id": "youtube_url",
      "label": "YouTube URL"
    }
  ],
  "presets": [
    {
      "name": "Custom Social Bar"
    }
  ]
}
{% endschema %}

<section class="custom-social-bar">
  <div class="left-bar">
    {% if section.settings.logo_image %}
      <img src="{{ section.settings.logo_image | img_url: 'medium' }}" alt="Logo fab.pub" class="fabpub-logo">
    {% endif %}
    <span class="side-text">{{ section.settings.side_text | replace: 'Fab.Pub', '<strong>Fab.Pub</strong>' }}</span>
  </div>
  <div class="right-icons">
    <div class="icon-container">
      {% if section.settings.instagram_url %}
        <a href="{{ section.settings.instagram_url }}" target="_blank" aria-label="Instagram" class="icon-instagram">
          {% render 'icono-instagram' %}
        </a>
      {% endif %}

      {% if section.settings.facebook_url %}
        <a href="{{ section.settings.facebook_url }}" target="_blank" aria-label="Facebook" class="icon-facebook">
          {% render 'icono-facebook' %}
        </a>
      {% endif %}

      {% if section.settings.linkedin_url %}
        <a href="{{ section.settings.linkedin_url }}" target="_blank" aria-label="LinkedIn" class="icon-linkedin">
          {% render 'icono-linkedin' %}
        </a>
      {% endif %}

      {% if section.settings.youtube_url %}
        <a href="{{ section.settings.youtube_url }}" target="_blank" aria-label="YouTube" class="icon-youtube">
          {% render 'icono-youtube' %}
        </a>
      {% endif %}
    </div>
  </div>
</section>
