{% comment %}theme-check-disable UndefinedObject{% endcomment %}

<footer class="footer">
  <div class="footer__container">
    <div class="footer__content page-width">
      <!-- Newsletter Section -->
      <div class="footer__newsletter">
        <h2>
          {{ section.settings.newsletter_heading }}
        </h2>
        <div class="newsletter-form">
          <input type="email" placeholder="Your email" class="newsletter-input">
          <button class="newsletter-button">GET THE LATEST</button>
        </div>
      </div>

      <!-- Footer Links -->
      <div class="footer__links-wrapper">
        <!-- Middle Column with Legal and Architecture -->
        <div class="footer__middle-column">
          <div class="legal-column">
            <h3>Legal</h3>
            <ul class="footer__list">
              <li><a href="{{ routes.root_url }}terms-conditions">Terms & conditions</a></li>
              <li><a href="{{ routes.root_url }}privacy-policy">Privacy policy</a></li>
            </ul>
          </div>

          <div class="architecture-column">
            <h3>
              Architecture<br>
              & Design Partner
            </h3>
            <ul class="footer__list">
              <li><a href="#">Mamou-Mani</a></li>
            </ul>
          </div>
        </div>

        <!-- Contact Column -->
        <div class="footer__contact-column">
          <h3>Contact Us</h3>
          <ul class="footer__list">
            <li>{{ section.settings.phone }}</li>
            <li>{{ section.settings.email }}</li>
          </ul>
          <div class="footer__social">
            <a
              href="{{ section.settings.social_instagram_link }}"
              target="_blank"
              rel="noopener"
              class="social-icon-instagram"
            >
              {% render 'icon-instagram' %}
            </a>
            <a
              href="{{ section.settings.social_facebook_link }}"
              target="_blank"
              rel="noopener"
              class="social-icon-facebook"
            >
              {% render 'icon-facebook' %}
            </a>
            <a
              href="{{ section.settings.social_linkedin_link }}"
              target="_blank"
              rel="noopener"
              class="social-icon-linkedin"
            >
              {% render 'icono-linkedin' %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<style>
  .footer {
    background-color: #ffffff;
    border: none;
    max-width: 100%;
    padding-top: 60px;
    box-sizing: border-box;
    margin-left: 100px;
    max-width: 100%;
  }

  .footer__content {
    max-width: 1240px;
    width: 100%;
    min-height: 368px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 80px;
    align-items: flex-start;
  }

  .footer__newsletter h2 {
    font-family: Source Serif 4, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    vertical-align: middle;
    max-width: 520px;
    flex: 1 1 100%;
    margin-bottom: 38px;
  }

  .newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;

  }

  .newsletter-input {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    width: 100%;
    max-width: 520px;
    padding: 12px 0;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    appearance: none;
    text-transform: uppercase;
  }

  .newsletter-input::placeholder {
    color: #000;
    text-transform: uppercase;
  }

  .newsletter-input:focus {
    outline: none;
    box-shadow: none;
  }

  .newsletter-button {
    width: fit-content;
    padding: 20px 49px 20px 49px;
    border: 1px solid #000;
    border-radius: 100px;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 1.2;
  }

  .newsletter-button:hover {
    background: #000;
    color: #fff;
  }

  .footer__links-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    flex: 1 1 300px;
    align-items: flex-start;
  }

  .footer__middle-column,
  .footer__contact-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .architecture-column h3,
  .legal-column h3,
  .footer__contact-column h3 {
    margin-bottom: 12px;
    color: #808080;
    font-family: Source Serif 4;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    vertical-align: middle;
  }

  .architecture-column {
    display: flex;
    flex-direction: column;
  }

  .footer__contact-column {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 1000px;
  }

  .footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer__list li {
    margin-bottom: 8px;
  }

  .footer__list li,
  .footer__list a {
    color: #121212;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 2.5%;
    vertical-align: middle;
  }

  .footer__social {
    display: flex;
    gap: 28px;
    margin-top: 24px;
    align-items: center;
  }

  .social-icon-instagram {
    color: #000;
  }

  .social-icon-facebook {
    color: #000;
  }

  .social-icon-linkedin {
    color: #000;
  }

  @media screen and (max-width: 880px) {
    .footer {
      border: none;
      background: #ffffff;
      display: flex;
      padding: 0 16px;
      min-width: 375px;
      margin-left: 0;
      min-height: 454px;
    }
    .footer__container,
    .footer__content {
      width: 100%;
      min-width: 335px;
      min-height: 454px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .footer__middle-column {
      display: none;
    }
    .footer__newsletter h2 {
      margin-bottom: 24px;
      margin-top: 75px;
    }
    .footer__newsletter,
    .footer__contact-column {
      position: static;
      align-items: flex-start;
    }
    .newsletter-input {
      text-transform: none;
      width: 100%;
      font-family: Inter, sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.4;
    }

    .newsletter-button {
      min-width: 335px;
      min-height: 59px;
      gap: 10px;
    }

    .footer__contact-column {
      margin-top: -60px;
    }

    .footer__contact-column .footer__list {
      display: flex;
      flex-direction: row;
      gap: 4px;
      margin-top: 12px;
    }
    .footer__contact-column .footer__list li:first-child::after {
      content: ' -';
      display: inline;
    }
    .footer__links-wrapper {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 375px) {
    .footer__content {
      display: flex;
      width: 100%;
  @media screen and (max-width: 749px) {
    .footer {
      /*width: 100vw;*/
      border: none;
      background: #fff;
      margin: 0 auto;
    }

    .footer__container {
      width: 100vw;
      min-width: 0;
      padding: 0;
    }

    .footer__content {
      max-width: 100vw;
      min-width: 0;
      height: auto;
      padding: 0 16px;
      position: static;
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    .footer__newsletter {
      max-width: 100%;
      margin: 0 0 32px 0;
    }

    .footer__newsletter h2 {
      font-size: 16px;
      margin-top: 32px;
      margin-bottom: 24px;
      text-align: left;
    }

    .newsletter-form {
      width: 100%;
      gap: 16px;
    }

    .newsletter-input {
      font-size: 12px;
      text-transform: none;
      width: 335px;
    }

    .newsletter-input::placeholder {
      text-transform: none;
      line-height: 1.4;
    }

    .newsletter-button {
      min-width: 335px;
      padding: 20px 40px;
      margin-bottom: 30px;
    }

    .footer__links-wrapper {
      flex-direction: column;
      width: 100%;
      margin: 0;
      position: static;
    }

    .footer__contact-column {
      position: static;
      left: auto;
      top: auto;
      width: 100%;
      align-items: flex-start;
    }

    .footer__middle-column {
      display: none;
    }

    .footer__contact-column h3 {
      font-size: 16px;
    }

    .footer__list {
      gap: 4px;
      display: flex;
      flex-direction: row;
    }

    .footer__social {
      margin-top: 24px;
      margin-bottom: 60px;
    }
  }
</style>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "label": "Newsletter Heading",
      "default": "Stay inspired and fuel your creativity with the Fab.Pub newsletter!"
    },
    {
      "type": "header",
      "content": "Contact Information"
    },
    {
      "type": "text",
      "id": "phone",
      "label": "Phone Number",
      "default": "+44 (0)203 559 6798"
    },
    {
      "type": "text",
      "id": "email",
      "label": "Email Address",
      "default": "info@fab.pub"
    },
    {
      "type": "header",
      "content": "Social Media Links"
    },
    {
      "type": "url",
      "id": "social_instagram_link",
      "label": "Instagram URL",
      "info": "Full URL to your Instagram profile"
    },
    {
      "type": "url",
      "id": "social_facebook_link",
      "label": "Facebook URL",
      "info": "Full URL to your Facebook page"
    },
    {
      "type": "url",
      "id": "social_linkedin_link",
      "label": "LinkedIn URL",
      "info": "Full URL to your LinkedIn profile"
    }
  ]
}
{% endschema %}
