{{ 'section-services-contact.css' | asset_url | stylesheet_tag }}

<div class="services-contact page-width">
  <div class="services-contact__content">
    {%- if section.settings.title != blank -%}
      <h2 class="services-contact__title">{{ section.settings.title | escape }}</h2>
    {%- endif -%}

    {%- if section.settings.description != blank -%}
      <div class="services-contact__description">
        {{ section.settings.description }}
      </div>
    {%- endif -%}

    <div class="services-contact__form">
      {%- form 'contact' -%}
        {%- if form.posted_successfully? -%}
          <div class="form-status form-status-list form__message" tabindex="-1" autofocus>
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-success" viewBox="0 0 13 13">
              <path d="M6.5 12.35C9.73087 12.35 12.35 9.73086 12.35 6.5C12.35 3.26913 9.73087 0.65 6.5 0.65C3.26913 0.65 0.65 3.26913 0.65 6.5C0.65 9.73086 3.26913 12.35 6.5 12.35Z" fill="#428445" stroke="white" stroke-width="0.7"/>
              <path d="M5.53271 8.66357L9.25213 4.68197" stroke="white"/>
              <path d="M4.10645 6.7688L6.13766 8.62553" stroke="white"/>
            </svg>
            {{ 'templates.contact.form.post_success' | t }}
          </div>
        {%- endif -%}

        <div class="contact__fields">
          <div class="field">
            <input
              class="field__input"
              autocomplete="name"
              type="text"
              id="ContactForm-name"
              name="contact[name]"
              value="{% if form.name %}{{ form.name }}{% endif %}"
              placeholder="{{ 'templates.contact.form.name' | t }}"
              required
            >
            <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
          </div>
          <div class="field field--with-error">
            <input
              autocomplete="email"
              type="email"
              id="ContactForm-email"
              class="field__input"
              name="contact[email]"
              spellcheck="false"
              autocapitalize="off"
              value="{% if form.email %}{{ form.email }}{% endif %}"
              aria-required="true"
              {% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="ContactForm-email-error"
              {% endif %}
              placeholder="{{ 'templates.contact.form.email' | t }}"
              required
            >
            <label class="field__label" for="ContactForm-email">
              {{- 'templates.contact.form.email' | t }}
              <span aria-hidden="true">*</span></label
            >
            {%- if form.errors contains 'email' -%}
              <small class="contact__field-error" id="ContactForm-email-error">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span>
                  {{- form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email -}}
                </span>
              </small>
            {%- endif -%}
          </div>
        </div>
        <div class="field">
          <textarea
            rows="10"
            id="ContactForm-body"
            class="text-area field__input"
            name="contact[body]"
            placeholder="{{ 'templates.contact.form.comment' | t }}"
            required
          >
            {{- form.body -}}
          </textarea>
          <label class="form__label field__label" for="ContactForm-body">
            {{- 'templates.contact.form.comment' | t -}}
          </label>
        </div>
        <div class="contact__button">
          <button type="submit" class="button button--primary">
            {{ 'templates.contact.form.send' | t }}
          </button>
        </div>
      {%- endform -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Services Contact",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Tell us about your project"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Share your project details and requirements with us"
    }
  ],
  "presets": [
    {
      "name": "Services Contact"
    }
  ]
}
{% endschema %}
